*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2e2e2e;
  padding-bottom: 22px;
}

h1{
  color: white;

}

nav{
  display: flex;
  gap: 1rem;
}
nav a{
  color: white;
  text-decoration: none;
}

.login{
  display: flex;
  gap: 1rem;
}
.login a{
  color: white;
  text-decoration: none;
}




footer{
  background-color: #2e2e2e;
  color: white;
  padding: 1rem;
  text-align: center;
  height: 200px;
}
footer p{
  margin: 0;
  font-size: 33px;
  margin-top: 40px;
}

.about h2{
  font-size: 43px;
  margin: 30px;
}  

.info{
  display: flex;
  gap: 9rem;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.info p{
  font-size: 25px;
  margin: 0;
  width: 800px;
}

.info-conatct{
  display: flex;
  gap: 9rem;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.conatcts-inp{
  background-color: #ececec;
  height: 400px;
  width: 400px;
  padding-top: 50px;
  padding-left: 30px;
}
.inp{
  margin: 10px;
}

.inp input{
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  padding: 20px;
}

.conatcts-inp button{
  width: 200px;
  height: 40px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 50px;
}

form{
  margin-left: 500px;
  margin-top: 50px;
}


input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 70%;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #005bb5;
}
